```gitignore
# Visual Studio
.vs/

# Build results
bin/
obj/

# User-specific files

*.suo

# Logs
*.log

# Rider
.idea/

# VS Code
.vscode/

## Archivos de configuración con credenciales locales
*.user
appsettings.Development.json
launchSettings.json
```